html { height: 100%; font-size: 62.5%; /*1rem = 10px*/ font-family: 'Titillium Web', sans-serif;}
body { min-height: 100vh; background: linear-gradient(77deg, #391343, #643482); color: #FFCC4D;}
* { margin: 0; padding: 0; box-sizing: border-box; }
.hide { position: absolute; height: 0; width: 0; display: none; visibility: hidden; }
main {
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  place-items: center;
  place-content: center; 
}
nav.back {
  position: absolute;
  top: 0;
  left: 0;
  height: 5vh;
  width: 5vh;
  cursor: pointer;
  font-size: 9rem;
  transition: all .2s;
}
nav.back:hover { transform: translateY(.2rem);}
nav.back:active { transform: scale(.8);}
nav.back.options::before {
  content: '🌱';
}
nav.back.options__tools::before {
  content: '🌱';
}
nav.back.options__sessions::before {
  content: '🌱';
}
nav.back.bonus::before {
  content: '🌱';
}
.the-start {
  font-size: 5rem;
  text-transform: uppercase;
  cursor: pointer;
}
.the-start h1 {
  transition: all 1s;
}
.the-start h1:hover {
  letter-spacing: 1rem;
}
.the-start--1 {transition: all 1s;}
.the-start h1:hover .the-start--1 {
  font-size: 10rem;
  letter-spacing: 1rem;
}
.options {
  justify-self: start;
  padding-left: 3rem;
  font-size: 4.5rem;
}
.options h2 {
  position: relative;
  cursor: pointer;
  margin: 9rem 5rem; 
  transition: all 1s;
}

.options h2:hover {
  letter-spacing: .5rem;
  transform: scale(1.3) translateY(-0.9rem) translateX(3rem);
}

.options h2::after {
  content: '';
  position: absolute;
  top: 3rem;
  right: -18rem;
  height: 5rem;
  width: 5rem;
  clip-path: polygon(0 0, 100% 50%, 0 100%, 0% 100%, 24% 50%, 0 0);
  border-radius: 12px;
  background-color: #ffcc4dc2;
  pointer-events: none;
  z-index: -1;
}
.options--bg-1 { 
  position: absolute; 
  opacity: 0.5; 
  top:0; 
  right:0;
  width: 36rem;
  transform: translate(-11rem, 6rem);
  z-index: -1;}
.options--bg-2 { position: absolute; opacity: 0.5; bottom:0; right:0;
  width: 36rem;
  transform: translate(-12rem, -6rem);
  z-index: -1;}

.options__tools {
  height: 100%;
  width: 100%;
}
.options__tools--container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  padding-top: 10rem;
}
.options__tools--item {
  height: 36rem; 
  width: 36rem;
  background-position: center;
}
.options__tools--ide {
  background-image:url(/images/ide.svg);
}
.options__tools--deploy {    
  margin-top: 3rem;
  background-image:url(/images/deploy.svg);
}

.options__tools--resources {
  background-image:url(/images/resources.svg); 
  background-repeat: no-repeat;
  grid-column: 1 / span 2;
  background-position: center top;
}
.options__tools--item h2 {
  font-size: 6rem;
  text-align: center;
  transform: translateY(11rem);
}
.options__tools--deploy h2 {
  transform: translate(-3rem, 8rem);
}
.options__tools--item h3 {
  font-size: 4rem;
  text-align: center;
  padding-top: 5rem;  
}
.options__tools--item h2 a,
.options__tools--item h3 a { 
  text-decoration: none; 
  color: #FFCC4D;
}
.options__tools--item {
  transition: all .2s;
}
.options__tools--item:hover {
  transform: scale(1.2);
}
.options__tools--item.options__tools--resources {
  font-size: 4rem;
  grid-column: 1 / span 2;
}

.options__sessions {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 6fr;
  align-items: center;
  justify-items: center;
}
.options__sessions hgroup {
  font-size: 7rem;
  margin-top: 10rem;
  grid-column: 1 / -1;
}
.options__sessions hgroup.minimize {
  transform: scale(0.3);
  position: absolute;
  grid-column: 1 / 1;
  grid-row: 1 / -1;
}
.show-session {
  grid-row: 1 / -1;
  grid-column: 2 / -1;
  grid-row-gap: 21rem;
  align-self: center;
  font-size: 10rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: start;
}
.highlight {
  background-color: #FFCC4D;
  color: #391343;
}
.options__sessions h2 {
  border: 1rem solid #ffCC4d;
  width: 3ch;
  text-align: center;
  margin-bottom: 1.5rem;
  transition: .3s;
  cursor: pointer;
}

.options__sessions h2:hover {
  transform: scale(1.2);
  margin: 2rem;
}

.show-session h3 {
  padding-left: 4ch;
  transform: translateY(2rem);
}
.options__sessions--session {
  grid-column: 2/-1;
  align-self: center;
  justify-self: start;
  font-size: 7rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 19vh;
}
.options__sessions--half-1,
.options__sessions--half-2 {
  position: relative;
  height: 22rem;
}
.options__sessions--half-1::before,
.options__sessions--half-2::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 19rem;
  width: 16rem;
  background-image: url(/images/sessions-bg-first-half.svg);
  background-repeat: no-repeat;
  background-position: center left;
  opacity:0.7;
}
.options__sessions--half-2::before {
  background-image: url(/images/sessions-bg-second-half.svg);
}

.options__sessions--bonus-button {
  outline: none;
  background-color: transparent;
  position: absolute;
  top: 40vh;
  right: 5vw;
  height: 7rem;
  width: 2rem;
  transform: rotate(90deg);
  border: none;
  cursor: pointer;
}
.options__sessions--bonus-button img {
  height: inherit;
  filter: blur(3px);
  -webkit-filter: blur(3px);
}

.options__sessions--session-3-bonus {
  width: 100%;
  height: 100%;
}

.hourglass-bg {
  background-image: url(/images/sessions-hourglass.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
}

.pray-bg {
  background-image: url(/images/pray.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
}

.bonus {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 2;
  cursor: pointer;
}
.overlay {
  display: block;
}

.bonus__prayer-req {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
}
.bonus__prayer-req--add-button {
  position: absolute;
  top: 44vh;
  height: 10rem;
  width: 10rem;
  border: none;
  outline: none;
  border-radius: 50px;
  font-size: 5rem;
  color: purple;
  background-color: gold;
  right: 18vw;
}

.chat-container { position: absolute; bottom: 0; right: 0;height: 5rem; width: 5rem; border-radius: 50%; background: black; margin: 1rem 1rem; }
#chat { position: absolute; }